<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
     <link rel="stylesheet" href="css/login.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body>
    <h2>User Dashboard</h2>
    <h5>Username: </h5>
    <p>{{ check.name}}</p>
    <h5>role: </h5>
    <p>{{ check.role}}</p>
</body>
</html>