<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Signup</h1>
        <br />
        
      </div>
      <div class="form">
        <form action="/signup" method="post" id="form">
          <input type="text" name="name" placeholder="Name" id="username" />
          <input
            type="password"
            name="password"
            placeholder="Password"
            id="password"
          />
          <select name="role" placeholder="role" id="role">
            <option value="user">user</option>
            <option value="admin">admin</option>
          </select>
          <button type="submit">submit</button>
          <p id="error"></p>
        </form>
<p>or already have an account</p>
        <a href="/">login page</a>
      </div>

    </div>
    <script src="/script.js"></script>

  </body>
</html>